.appointmentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.appointmentMenu h2 {
  text-align: center;
}

.appointmentMenu__buttonContainer {
  width: 20%;
  min-width: 200px;
}

.MyButton {
  background: var(--v2-color5);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  border-radius: 5px;
  border: solid 2px rgba(0, 0, 0, 0.2);
}

.MyButton:hover {
  background: var(--v2-color5-hover);
  cursor: pointer;
}
.appointmentsData__container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.formCard {
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.form__container {
  padding: 10px;
  font-size: 1rem;
  /* width: 30em; */
  max-width: 300px;
}
.form__group {
  display: flex;
  margin-bottom: 10px;
}
.form__label__group {
  width: 150px;
}
.form__group input {
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px;
}

.body__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.closeIcon {
  font-size: 20px;
  cursor: pointer;
  color: var(--v2-color1);
  height: fit-content;
}

.closeIcon:hover {
  color: var(--v2-color1-hover);
}

.map {
  width: 80%;
  height: 60%;
}
.map__header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10%;
}
.map__body {
  width: 100%;
  height: 90%;
  /* background: deepskyblue; */
}
.map_component {
  height: 100%;
  width: 100%;
}
.appointmentInfo {
  height: fit-content;
  width: 80%;
}

.appointmentInfo__header {
  /* background: cornflowerblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%;
}
.appointmentInfo__body {
  padding: 10px;
  width: 100%;
  height: fit-content;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.appointmentInfo__body label {
  font-weight: 600;
}
.InfoBody_header {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .appointmentsData__container {
    flex-direction: column;
  }
}
