.appointmentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.appointmentMenu h2 {
  text-align: center;
}

.appointmentMenu__buttonContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.appointments__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.appointment__header {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  text-align: end;
  padding: 5px;
}

.appointment__body {
  display: flex;
  min-width: fit-content;
  height: 100%;
}

.form__container {
  font-size: 1rem;
  max-width: 300px;
  min-width: 280px;
}
.form__group {
  display: flex;
  margin-bottom: 10px;
}
.form__label__group {
  width: 150px;
}
.form__group input {
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px;
}

.body__container {
  display: flex;
  margin-left: 10px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
}

.map__container {
  width: 70vw;
  height: 55%;
  min-height: 300px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.map__header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10%;
}

.appointmentInfo {
  height: fit-content;
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.appointmentInfo label {
  font-weight: 600;
}

.customLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.InfoBody_header {
  text-shadow: 0 0 3px rgb(114, 114, 255);
  margin-bottom: 10px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .appointment__body {
    flex-direction: column;
  }
  .form__container {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .appointment__header {
    max-width: 380px;
  }
  .body__container {
    margin-left: auto;
  }

  .appointmentInfo,
  .map__container {
    width: 100%;
  }
}
